#app {
    font-size: 20px;
}

.logo img {
    width: 100%;
}

.forum {
    margin-top: 24px;
    margin-bottom: 24px;
}
.forum input {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 10px;
}
.forum button {
    width: 100%;
    background-color: #333;
    color: white;
    border-radius: 24px;
    padding: 10px;
}

.list {
    background-color: #eee;
    border-radius: 24px;
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.list li:first-child {
    margin-top: 20px;
}

.list li:last-child {
    margin-bottom: 20px;
    border-bottom: none;
}

.list li i {
    cursor: pointer;
}
